
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
      <nav am-layout="horizontal">
      <a href="home"class="current">Home</a>
      <a href="about" class="current">About</a>
      <div class="dropdown">
        <button class="dropbtn">Products</button>
        <div class="dropdown-content">
            <a href="sails">Sails</a>
            <a href="cover">Cover</a>
            <a href="spinnker">Spinnker</a>
           
      
      
      
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Teams</button>
        <div class="dropdown-content">
          <a href="warehouse">Warehouse</a>
            <a href="cut">Cut</a>
            <a href="firstsew">First Sew</a>
            <a href="patch">Patch</a>
            <a href="secondsew">Second Sew</a>
            <a href="handwork">Handwork</a>
            <a href="cover">Cover</a>
            <a href="spinnker">Spinnker</a>
      
      
      
        </div>
        <a href="login">
        <button class="connexion-btn" >
            <i class="fas fa-user"></i> Login
          </button>
        </a>
        </div>
      
      </nav>
      </header>