    
  <footer>
    <div class="contact-info">
      <h3>Contact</h3>
      <p><i class="fas fa-phone"></i> Téléphone: 72159789</p>
      <p><i class="fas fa-envelope"></i> Email: <a href="mailto:votreadresse&#64;mail.com">it&#64;steb.tn</a></p>
    </div>
    <div class="address">
      <h3>Adresse</h3>
      <p>      <i class="fas fa-map-marker-alt"></i>123 Example St, City, Country</p>
    </div>
    <div class="location">
        <h3 style="text-align: center;">Localisation</h3>
        <p>
            <i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps?q=Z.+Franche+7050+Menzel+Bourguiba,+Bizerte">Voir sur Google Maps</a>
        </p>
    </div>
      
    
  </footer>