<!-- registration.component.html -->
<form [formGroup]="registrationForm" (submit)="onSubmit()">
    <div>
      <label for="username">Nom d'utilisateur:</label>
      <input type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="email">Adresse e-mail:</label>
      <input type="email" id="email" formControlName="email">
    </div>
    <div>
      <label for="password">Mot de passe:</label>
      <input type="password" id="password" formControlName="password">
    </div>
    <button type="submit" [disabled]="registrationForm.invalid">S'inscrire</button>
</form>
