
    <!-- Page Wrapper -->
    <div id="wrapper">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
              <div class="sidebar-brand-icon rotate-n-15">

              </div>
              <div class="sidebar-brand-text mx-3"> STEB<sup></sup></div>
          </a>

          <!-- Divider -->
        

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
                 PRODUCTS            </div>

          <!-- Nav Item - Pages Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="addsails" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="true" aria-controls="collapseTwo">

                  <span>Sails</span>
              </a>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
              
              </div>
          </li>
         
          <!-- Nav Item - Utilities Collapse Menu -->
          <li class="nav-item">
              <a class="nav-link collapsed" href="addspi" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Spinnker</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">


                  </div>
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addcover" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Cover</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                
              </div>

          </li>
          <hr class="sidebar-divider">

          <div class="sidebar-heading">
              TEAMS            </div>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addwarehouse" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Warehouse</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                  
              </div>

          </li>

          <li class="nav-item">
              <a class="nav-link collapsed" href="addcut" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Cut</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addfirst" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>FirstSew</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addpatch" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Patch</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                 
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addsecond" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>SecondSew</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                 
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="addhand" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Handwork</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                 
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="adcover" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Cover</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                 
              </div>

          </li>
          <li class="nav-item">
              <a class="nav-link collapsed" href="adspi" data-toggle="collapse" data-target="#collapseUtilities"
                  aria-expanded="true" aria-controls="collapseUtilities">
                  <span>Spinner</span>
              </a>
              <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                  data-parent="#accordionSidebar">
                 
              </div>

          </li>
          <!-- Divider -->
          <hr class="sidebar-divider">

          


          <!-- Nav Item - Charts -->
        


          <!-- Divider -->
       
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->

          <!-- Main Content -->
   <!-- Main Content -->
<div id="content">

  <!-- Topbar -->

  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <div class="container-fluid">

    
    
    <div class="video-section">
      <button class="custom-button" (click)="toggleUploadForm()">Upload Video</button>
    
      <div *ngIf="uploadFormVisible">
        <form id="uploadForm" enctype="multipart/form-data">
          <input type="file" name="video" id="video" (change)="handleFileInput($event)">
          <button type="button" (click)="uploadVideo()">Upload Video</button>
        </form>
      </div>
    
      <div class="company-info">
        <h2>Warehouse Service</h2>
        
        <video controls id="uploadedVideo" #videoPlayer>
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
    
  
   <!-- <button *ngIf="isAdmin"  (click)="toggleFormulaire()">Add product</button>-->
   
  
    <button   class ="custom-button1" (click)="toggleFormulaire()">Add team</button>
  
     
  
  
  
    <form *ngIf="afficherFormulaire" (submit)="ajouterMembre()">
      <label for="nom">Name:</label>
      <input type="text" id="nom" name="nom" [(ngModel)]="nouveauCut.nom" required>
      
      <label for="role">Role:</label>
      <input type="text" id="role" name="role" [(ngModel)]="nouveauCut.role" required>
       
    
      <label for="role">Email:</label>
      <input type="text" id="role" name="role" [(ngModel)]="nouveauCut.email" required>
       
    
      
  
      <label for="photo">Photo:</label>
      <input type="file" id="photo" name="photo" (change)="handlePhotoUpload($event)"  multiple required>
      
      <button type="submit">{{ modifierIndex !== null ? 'Modifier' : 'Ajouter' }}</button>
    </form>
  
    <!-- Afficher la photo du nouveau membre dès qu'elle est sélectionnée -->
   
  
  
  
  
    
    <div *ngIf="cuts.length > 0">
      <h2>Warehouse Team</h2>
      <div class="teamwares-container">
        <div class="teamware-card" *ngFor="let cut of cuts; let i = index">
          <div class="teamware-info">
            <div>
              <img *ngIf="cut.photo" [src]="cut.photo" alt="Photo du cut"> <!-- Afficher la photo du membre -->
            </div>
            <div>
              <strong>{{ cut.nom }}</strong> <!-- Afficher le nom du membre -->
            </div>
            <div>
              {{ cut.role }} <!-- Afficher la description du membre -->
            </div>
            <div>
              {{ cut.email }} <!-- Afficher la description du membre -->
            </div>
          </div>
          <div class="teamware-actions">
              <button (click)="modifierMembre(i)"><i class="fas fa-edit"></i></button>
              <button (click)="supprimerMembre(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </div>
        </div>
      </div>
    </div>
    
    
  
  

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

           














