<!DOCTYPE html>
<html lang="en">
  <header><img src="assets/img/logos.png" alt="Logo" class="logo">
  
    <h2 class="custom-text">SOCIETE TUNISIENNE D'EEQUIPEMENT DE BATEAUX</h2></header>



<body>
  <input type="text" id="search" placeholder="Rechercher..." [(ngModel)]="searchValue">
  <button class="btn" (click)="searchFolder()">Chercher</button>
 
    <div class="explorer">
     
<div class="card">
  

  <a href="test" class="folder"> 
        <div class="folder">
            <div class="folder-top"></div>
            <div class="folder-bottom">
                <div class="folder-label">Dossier 1</div>
            </div>
        </div>
      </a>
      <a href="ttest" class="folder"> 

        <div class="folder">
            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 2</div>
            </div>
        </div>
      </a>
      <a href="test2" class="folder"> 

        <div class="folder">

            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 3</div>
            </div>
        </div>
      </a>
      <a href="test3" class="folder"> 

        <div class="folder">

            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 4</div>
            </div>
        </div> </a>
        <a href="testing" class="folder"> 
  
        <div class="folder">

            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 5</div>
            </div>
        </div>
        </a>
      </div>
      <div class="card">
        <a href="test" class="folder"> 

        <div class="folder">

            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 6</div>
            </div>
        </div>
      </a>
      <a href="test" class="folder"> 
        <div class="folder">

            <div class="folder-top"></div>
            <div class="folder-bottom">
              <div class="folder-label">Dossier 7</div>
            </div>
        </div>
      </a>
      <a href="test" class="folder"> 
        <div class="folder">

          <div class="folder-top"></div>
          <div class="folder-bottom">
            <div class="folder-label">Dossier 8</div>
          </div>
      </div>
    </a>
    <a href="test" class="folder"> 
      <div class="folder">

        <div class="folder-top"></div>
        <div class="folder-bottom">
          <div class="folder-label">Dossier 9</div>
        </div>
    </div>
  </a>
  <a href="test" class="folder"> 
    <div class="folder">

      <div class="folder-top"></div>
      <div class="folder-bottom">
        <div class="folder-label">Dossier 10</div>
      </div>
  </div>
  </a>
    </div>
    <div class="card">
      <a href="test" class="folder"> 

      <div class="folder">

          <div class="folder-top"></div>
          <div class="folder-bottom">
            <div class="folder-label">Dossier 6</div>
          </div>
      </div>
      </a>
      <a href="test" class="folder"> 

      <div class="folder">

          <div class="folder-top"></div>
          <div class="folder-bottom">
            <div class="folder-label">Dossier 7</div>
          </div>
      </div> </a>
        <a href="test" class="folder"> 

      <div class="folder">

        <div class="folder-top"></div>
        <div class="folder-bottom">
          <div class="folder-label">Dossier 8</div>
        </div>
    </div>
        </a>  <a href="test" class="folder"> 

    <div class="folder">

      <div class="folder-top"></div>
      <div class="folder-bottom">
        <div class="folder-label">Dossier 9</div>
      </div>
  </div>
  </a>
  <a href="test" class="folder"> 

  <div class="folder">

    <div class="folder-top"></div>
    <div class="folder-bottom">
      <div class="folder-label">Dossier 10</div>
    </div>
</div>
  </a>
  </div>
  </div>


</body>
</html>
