<!DOCTYPE html>
<html lang="en">


<body>

  <!-- ======= Top Bar ======= -->
 

  <!-- ======= Header ======= -->
   <!-- ======= Header ======= -->
   <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto" href="login">Cut</a></li>
          <li><a class="nav-link scrollto" href="login">First Sew</a></li>
          <li><a class="nav-link scrollto" href="login">Packet button</a></li>
          <li><a class="nav-link scrollto" href="login">Patch</a></li>
          <li><a class="nav-link scrollto" href="login">Second Sew</a></li>
          <li><a class="nav-link scrollto" href="login">Fintion</a></li>
          <li><a class="nav-link scrollto" href="login">Cover</a></li>
          <li><a class="nav-link scrollto" href="login">Nylon</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    
   
  </section><!-- End Hero -->


 
  

</body>

</html>